@import '../settings';

.c-shteaser,
.c-teaser {
	margin: 1rem 0;
	padding: 1rem;
	background: #111;
	color: #fff;

	&__text {
		font-style: italic;
		color: inherit;
	}

	&__title {
		margin: 0 0 1rem;
		color: inherit;
		font-weight: 100;
		font-size: 4rem;
	}

	&.is-style-bordered {
		border: 2px solid red;
	}
}